<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
  <meta charset="utf-8">
  <title>Shopping List Check Off</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="ToBuyController as buyCtrl">
  <h1>Shopping List Check Off</h1>
  <div class="container">
    <h2>To Buy:</h2>
    <ul>
      <li ng-repeat="item in buyCtrl.toBuyList">
        Buy {{ item.quantity }} {{ item.name }}
        <button ng-click="buyCtrl.buyItem($index)">Bought</button>
      </li>
    </ul>
    <div class="message" ng-show="buyCtrl.toBuyList.length === 0">
      Everything is bought!
    </div>
  </div>

  <div class="container">
    <h2>Already Bought:</h2>
    <ul>
      <li ng-repeat="item in buyCtrl.alreadyBoughtList">Bought {{ item.quantity }} {{ item.name }}</li>
      <div class="message" ng-show="buyCtrl.alreadyBoughtList.length === 0">
        Nothing bought yet
      </div>
    </ul>
  </div>
</body>
</html>
